.index{

}

#bg-image {

    width: 1876px;
    height: 130px;
    background: url(icon.jpeg);
    border-left: 10px solid cadetblue;
    border-bottom: 10px solid red;
    padding-right: 11px;
}

.BiblioBook
{   
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(58, 158, 189);
    text-align:end;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 15px;
    width: 1888px;
    height: 30px;
    border-bottom: 10px solid rebeccapurple;
}


.container {
  }

#picture_Style{
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    height: 30px;
    border: 10px solid rgb(55, 18, 92);
    height: 400px;
    width: 1878px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(abstract.jpg);
}

#title
{
    color: rgb(233, 182, 71);
    background-image: url(village.png);
    position: center;
    border: 10px solid rgb(214, 91, 91);
    border-style: groove;
    margin: auto;
    border: 200 px groove;
    text-align: center;
    font-size: 35px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;

}
#description
{
    text-align: center;
    font-size: 21px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

.text-block {
    display: inline-block;
    width: 650px;
    height: 300px;
    margin-top: 35px;
    margin-left: 30%;
    background-color: rgba(255, 79, 123, 0.87);
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    border: 10px solid rgb(211, 158, 140);
    
  }

.Telefono {
    width: 1821px;
    height: 1600px;
    padding-left: 4%;
    padding-top: 4%;
    padding-right: 1px;
    background-image: url(book_library.jpg);
    background-position: right;
}

.tab1{
    padding-top: 5%;
    padding-left: 10%;
    height: 700px;
    width: 1640px;
    background-image: url(mountain.jpg);
}

#button_{
    display: inline-block;
    margin-top: 5%;
    width:400px;
    height:50px;
    border: 10px solid rebeccapurple;
}

#phone_title{
    text-align: left;
    color: red;
}
#phone_tab
{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 350px;
    height: 300px;
    padding-left: 5%;
    padding-right 10%;
    margin-top: 12%;
    padding-bottom: 5%;
    margin-right: 50%;
    background-image: url(books.jpg);
    background-position: center bottom; 
    border: 10px solid black;
}

#text_{
    float:right;
    margin-right: 5%;
    margin-top: 4%;
    font-size: 26px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: aliceblue;
    width: 900px;
    height: 380px;
    background-image: url(lecture.jpg);
    border: 10px solid black;

}

.mappa {
    height: 700px;
    width: 1600px;
    margin-top: 3%;
    border: 10px solid black;
    background-image: url(lighthouse.jpg);
}

#title_loc
{
    font-size: 32px;
    color: rgba(255, 13, 13, 0.829);
    text-align: left;
    margin-left: 30%;
    font-style: bold;
}

#address
{
    font-size: 26px;
    font-style: italic;
    color: rgba(53, 44, 44, 0.808);
    text-align: center;
}

.email{
    background-image: url(village.png);
    padding: 39px;
    width: 1820px;
    height: 500px;
}
.contact-img{
    margin-top: 40px;
    margin-left: 6%;

}
#Mail_title{
    text-align: center;
    padding-right: 10%;
    padding-left: 10%;
    height: 60px;
    color: white;
}
#tab{
 float: right;
 margin-right: 6%;
 margin-top: 20px;
 border: 10px solid rgba(255, 94, 0, 0.836);
 padding: 40px;
 background-color: rgba(196, 189, 255, 0.884);
}









